.yuss {
  color:white;
  padding: 100px;
  background-color: grey;
  font-family: 'Zilla Slab Highlight', cursive;
  font-size: 100px;
  text-align:center;
  padding-bottom: 120px;
  border-radius: 15px;

}



.yuss {
  -webkit-animation: rainbow 3s infinite;
   animation: rainbow 3s infinite;
}
@-webkit-keyframes rainbow{
	33%{color: red;}
	66%{color: green;}
	100%{color: blue;}
}
@keyframes rainbow{
	33%{color: red;}
	66%{color: green;}
	100%{color: blue;}
}






}

/*.social {*/
/*  margin: auto;*/
/*    width: 50%;*/


/*}*/

.yest {
  margin: auto;
    width: 50%;
    border: 3px solid green;

}


/*font-family: 'Libre Barcode 39 Text', cursive;*/
/*font-family: 'Sarpanch', sans-serif;*/
/*font-family: 'Zilla Slab Highlight', cursive;*/

h2 {
  color:blue;
}

.first-info {
  font-family: 'Sarpanch', sans-serif;
  color: white;
}

input[type="text"], textarea {

  background-color : #d1d1d1;


}

input
{
    -moz-border-radius:10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    border-radius: 10px; /* CSS3 */
    behavior:url("border-radius.htc");
}
