.superior {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	font-weight: bold;
	font-style: italic;
	background-color: red;
	font-size: 100px;
	text-align:center;
	padding-left: 2%;
	padding-right: 3.0%;
	padding-bottom: 1%;
	/*No Select*/
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/*.social {*/
/*  margin: auto;*/
/*    width: 50%;*/


/*}*/

.yest {
  margin: auto;
    width: 50%;
    border: 3px solid green;

}


/*font-family: 'Libre Barcode 39 Text', cursive;*/
/*font-family: 'Sarpanch', sans-serif;*/
/*font-family: 'Zilla Slab Highlight', cursive;*/

h2 {
  color:blue;
}

.first-info {
  	font-family: Helvetica, sans-serif;
  	color: white;
	font-style: normal;
	font-size: 30px;
	
}

input[type="text"], textarea {

  background-color : #d1d1d1;


}

input
{
    -moz-border-radius:10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    border-radius: 10px; /* CSS3 */
    behavior:url("border-radius.htc");
}

.clip {
  clip: rect(0px,10px,0px,0px);
}

.social {
  	background-color: black;
	/*No Select*/
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

}

.links {
  	font-size: 18px;
	color:white;
	transition: 0.3s;
	padding: 1%;
  	white-space: nowrap;
	text-decoration: none;
	font-family: Helvetica;
}

.links:hover {
	background-color: red;
}


.socialtopbuffer {
  padding-top: 2%;
}

.joinUs {
	padding: 15px;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	color:white;
	transition: 0.3s;
  	white-space: nowrap;
	text-decoration: none;
}

.joinUs.hover {
	color:aqua;
}