.superior {
font-family: Arial, Helvetica, sans-serif;
color: white;
font-weight: bold;
font-style: italic;
background-color: red;
font-size: 100px;
text-align:center;
padding-left: 0%;
padding-right: 1.0%;
padding-bottom: 1%;
}

/*.social {*/
/*  margin: auto;*/
/*    width: 50%;*/


/*}*/

.yest {
  margin: auto;
    width: 50%;
    border: 3px solid green;

}


/*font-family: 'Libre Barcode 39 Text', cursive;*/
/*font-family: 'Sarpanch', sans-serif;*/
/*font-family: 'Zilla Slab Highlight', cursive;*/

h2 {
  color:blue;
}

.first-info {
  font-family: 'Sarpanch', sans-serif;
  color: white;
}

input[type="text"], textarea {

  background-color : #d1d1d1;


}

input
{
    -moz-border-radius:10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    border-radius: 10px; /* CSS3 */
    behavior:url("border-radius.htc");
}

.clip {
  clip: rect(0px,10px,0px,0px);
}

.social {
  background-color: black;

}

.links {
  font-size: 18px;
  padding-left: 2%;
}

.socialtopbuffer {
  padding-top: 2%;
}